<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" routerLink="/">Capzone</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cfb">CFB <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">ECU Football<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fantasy">Fantasy Football<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nba">NBA<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
